.header-main{
    background-color: rgb(90, 152, 163);
    height: 15vh;
    margin-top: -30px;

}

.user-name{
color: rgb(32, 31, 31);
text-shadow: 5px 5px 15px ivory;
font-weight: 700;
font-size: 40px;
margin-left: 2.5%;
padding-top: 5%;

    
    
} 

.header-buttons {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    float: right;
}

/* .profile-button{
margin-right: 2vw;
padding: 5%;
border-radius: 15px;
margin-top: 1.5vh;
font-size: 20px;
font-weight: 900;
box-shadow: 5px 5px 5px black;
}

.difficulty-button{
    margin-right: 2vw;
    padding: 5%;
    border-radius: 15px;
    margin-top: 1.5vh;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 5px 5px 5px black;
}

.logout-button{
    margin-right: 2vw;
    padding: 1.2%;
    border-radius: 15px;
    margin-top: 1.5vh;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 5px 5px 5px black;
} */

